NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
FRONTEND_ORIGIN=http://localhost:8081

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=quejugamos
DATABASE_PASSWORD=quejugamos
DATABASE_NAME=quejugamos
DATABASE_SSL=false

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
